* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  /* background-color: antiquewhite; */
  width: 1200px;
  margin: auto;
}

.clear{
  clear: both;
}

.col-1 {
  width: 8.333333333333333%;
}
.col-2 {
  width: 16.66666666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333333333%;
}
.col-8 {
  width: 66.66666666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-11 {
  width: 91.66666666666667%;
}
.col-12 {
  width: 100%;
}

.social-media {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.social-media .content {
  width: 65%;
  background-color: #000033;
  border-radius: 10px;
}

.social-media .content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 6px;
}

.social-media .content .title .branding span {
  font-size: 36px;
  font-weight: 700;
  color: white;
  float: left;
}

.social-media .content .title input {
  width: 30%;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #000033;
  margin-right: -755px;
  float: right;
}

.row {
  margin-inline: -8px;
}

.col-12,
.col-4,
.col-2 {
  padding-inline: 8px;
  padding-bottom: 16px;
  float: left;
}

.social-media .content .card {
  width: 100%;
  height: 100px;
  /* background-color: #1877f2; */
  border-radius: 10px;
}

.social-media .content .card span {
  display: block;
  padding: 70px 15px;
  color: white;
}

.bg1 {
  background-color: #1877f2;
}
.bg2 {
  background-color: #410093;
}
.bg3 {
  background-color: #0061ff;
}
.bg4 {
  background-color: #09b83e;
}
.bg5 {
  background-color: #ff5700;
}
.bg6 {
  background-color: #00c300;
}
.bg7 {
  background-color: #660000;
}
.bg8 {
  background-color: #ff3300;
}
.bg9 {
  background-color: #660066;
}
.bg10 {
  background-color: #cd201f;
}
.bg11 {
  background-color: #3c7601;
}
